# Configuration
config.yaml

# Binaries for programs and plugins
/cmd/matrix_irc_ping_exporter/matrix_irc_ping_exporter
/cmd/ping_responder/ping_responder
/cmd/ping_sender/ping_sender
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

